.App {
  text-align: center;
}

/* light and dark mode */
.dark {
  background: linear-gradient(90deg, rgba(55,55,55,1) 0%, rgba(71,71,71,1) 49%, rgba(124,124,124,1) 99%);;
  color: #000000;
}
.light {
  background: linear-gradient(90deg, rgba(231,231,231,1) 0%, rgba(209,209,209,1) 49%, rgba(176,176,176,1) 100%);
  color: #000000;
}



.FN{
  display: flex;
  margin-left: 45.5%;
}

.LN{
  display: flex;
  margin-left: 44%;
}